{% extends "butterflies/base.html" %}
{% load butterfly_extras %}
{% block title %}All Collections{% endblock %}
{% block header %}Butterfly & Trap Collections{% endblock %}
{% block content %}

{% for table in model_tables %}
    <h2>{{ table.model_name }}</h2>
    <a href="{% url 'dynamic_create' table.model_name_internal %}">Add New {{ table.model_name }}</a>
    {% include "butterflies/_table.html" with objects=table.objects fields=table.fields request=request %}
{% endfor %}

<br><br>

{% for table in model_tables %}
    <a href="{% url 'dynamic_list' table.model_name_internal %}">View {{ table.model_name }} List Only</a><br>
{% endfor %}

{% endblock %}
