{% extends "butterflies/base.html" %}
{% load butterfly_extras %}
{% block title %}All Collections{% endblock %}
{% block header %}Butterfly & Trap Collections{% endblock %}
{% block content %}

<h2>Butterfly Collections</h2>
{% include "butterflies/_table.html" with objects=butterflies fields=butterfly_fields request=request %}


<h2>Trap Information</h2>
{% include "butterflies/_table.html" with objects=traps fields=trap_fields request=request %}
<a href="{% url 'create_butterfly' %}">Add New Butterfly</a>
<a href="{% url 'create_trap' %}">Add New Trap</a>
<br><br>
<a href="{% url 'butterfly_list' %}">View Butterfly List Only</a>
<a href="{% url 'trap_list' %}">View Trap List Only</a>

{% endblock %}
