{% extends "butterflies/base.html" %}

{% load i18n %}

{% block title %}{% trans "Confirm Bulk Delete" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>
        {% if filtered %}
            {% trans "Debug Bulk Delete Filtered Confirmation" %}
        {% else %}
            {% trans "Debug Bulk Delete Confirmation" %}
        {% endif %}
    </h1>
    
        <div class="alert alert-danger">
            {% if filtered %}
                {% blocktrans %}Warning! You are about to permanently delete {{ count }} currently filtered specimen records. This action cannot be undone.{% endblocktrans %}
            {% else %}
                {% blocktrans %}Warning! You are about to permanently delete {{ count }} specimen records. This action cannot be undone.{% endblocktrans %}
            {% endif %}
        </div>
    
    <form method="post" action="{% if query_string %}?{{ query_string }}{% endif %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="confirmText">{% trans "To confirm, type 'DELETE' in the box below:" %}</label>
            <input type="text" class="form-control" id="confirmText" name="confirm_text" required>
        </div>
        
        <div class="mt-3">
            <button type="submit" class="btn btn-danger">{% trans "Confirm Deletion" %}</button>
            <a href="{% url 'dynamic_list' 'specimen' %}" class="btn btn-secondary ml-2">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}
