<!DOCTYPE html>
<html>
<head>
    <title>Butterfly Collections</title>
</head>
<body>
    <h1>Butterfly Collections</h1>
    <table border="1">
        <tr>
            <th>Species</th>
            <th>Collection Date</th>
            <th>Collector Name</th>
            <th>Notes</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        {% for butterfly in butterflies %}
        <tr>
            <td>{{ butterfly.species }}</td>
            <td>{{ butterfly.collection_date }}</td>
            <td>{{ butterfly.collector_name }}</td>
            <td>{{ butterfly.notes }}</td>
            <td>{{ butterfly.created_at }}</td>
            <td>{{ butterfly.updated_at }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="6">No butterfly collections found.</td></tr>
        {% endfor %}
    </table>
    <a href="{% url 'create_butterfly' %}">Add New Butterfly</a>
    <a href="{% url 'all_list' %}">Back to All List</a>
</body>
</html>
