{% extends "butterflies/base.html" %}
{% load butterfly_extras %}
{% block title %}Butterfly List{% endblock %}
{% block header %}Butterfly Collections{% endblock %}
{% block content %}
<table border="1">
    <tr>
        {% for field in fields %}
            <th>{{ field.verbose_name }}</th>
        {% endfor %}
    </tr>
    {% for butterfly in butterflies %}
    <tr>
        {% for field in fields %}
            <td>{{ butterfly|get_field_value:field.name }}</td>
        {% endfor %}
    </tr>
    {% empty %}
    <tr><td colspan="{{ fields|length }}">No butterfly collections found.</td></tr>
    {% endfor %}
</table>
<a href="{% url 'create_butterfly' %}">Add New Butterfly</a>
<a href="{% url 'all_list' %}">Back to All List</a>
{% endblock %}
