{% load i18n %}
{% extends 'butterflies/base.html' %}
{% load butterfly_extras %}

{% block title %}{% trans "Add Locality" %}{% endblock %}

{% block content %}
<h2>{% trans "Add Locality" %}</h2>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<!-- Include the form template -->
{% include 'butterflies/_form.html' with form=form model_name="Locality" %}

{% endblock %}