{% extends "butterflies/base.html" %}
{% load i18n %}
{% load static %}
{% load butterfly_extras butterfly_display %}
{% block content %}
<link rel="stylesheet" href="{% static 'butterflies/css/table-styles.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'butterflies/img/favicon.ico' %}">
<div style="margin-bottom: 1em; display: flex; align-items: center;">
  <div>
    <h3 style="margin: 0 0 5px 0;">{% trans "Export Full Specimen Report" %}</h3>
    <a href="{{ export_csv_url }}" class="btn btn-primary" style="margin-right: 10px;">{% trans "CSV Format" %}</a>
    <a href="{{ export_excel_url }}" class="btn btn-primary">{% trans "Excel Format" %}</a>
  </div>
  <div style="margin-left: 20px; color: #666; max-width: 400px;">
    <p style="margin: 0;">{% trans "These exports include all data shown in the table below, including related fields." %}</p>
    <p style="margin: 5px 0 0 0;">{% trans "For individual table management, use the links at the bottom of the page." %}</p>
  </div>
</div>
<h2>{% trans "Full Specimen Report" %}</h2>
<table class="concise-table">
    <thead>
        <tr>
            <th>modified</th>
            <th>specimenNumber</th>
            <th>catalogNumber</th>
            <th>recordedBy</th>
            <th>sex</th>
            <th>behavior</th>
            <th>disposition</th>
            <th>occurrenceRemarks</th>
            <th>eventDate</th>
            <th>eventTime</th>
            <th>year</th>
            <th>month</th>
            <th>day</th>
            <th>habitat</th>
            <th>habitatNotes</th>
            <th>samplingProtocol</th>
            <th>country</th>
            <th>stateProvince</th>
            <th>county</th>
            <th>municipality</th>
            <th>locality</th>
            <th>localityDescriptionNotes</th>
            <th>minimumElevationInMeters</th>
            <th>maximumElevationInMeters</th>
            <th>decimalLatitude</th>
            <th>decimalLongitude</th>
            <th>exact_loc.?</th>
            <th>coordinateUncertaintyInMeters</th>
            <th>georeferencedBy</th>
            <th>georeferencedDate</th>
            <th>georeferenceProtocol</th>
            <th>identifiedBy</th>
            <th>dateIdentified</th>
            <th>identificationReferences</th>
            <th>identificationRemarks</th>
            <th>family</th>
            <th>subfamily</th>
            <th>tribe</th>
            <th>subtribe</th>
            <th>genus</th>
            <th>specificEpithet</th>
            <th>binomial</th>
            <th>infraspecificEpithet</th>
        </tr>
    </thead>
    <tbody>
    {% for specimen in specimens %}
        <tr>
            <td title="{{ specimen.modified|dot_if_none }}">{{ specimen.modified|dot_if_none }}</td>
            <td title="{{ specimen.specimenNumber|dot_if_none }}">{{ specimen.specimenNumber|dot_if_none }}</td>
            <td title="{{ specimen.catalogNumber|dot_if_none }}">{{ specimen.catalogNumber|dot_if_none }}</td>
            <td title="{{ specimen.recordedBy|dot_if_none }}">{{ specimen.recordedBy|dot_if_none }}</td>
            <td title="{{ specimen.sex|dot_if_none }}">{{ specimen.sex|dot_if_none }}</td>
            <td title="{{ specimen.behavior|dot_if_none }}">{{ specimen.behavior|dot_if_none }}</td>
            <td title="{{ specimen.disposition|dot_if_none }}">{{ specimen.disposition|dot_if_none }}</td>
            <td title="{{ specimen.occurrenceRemarks|dot_if_none }}">{{ specimen.occurrenceRemarks|dot_if_none }}</td>
            <td title="{{ specimen.eventDate|dot_if_none }}">{{ specimen.eventDate|dot_if_none }}</td>
            <td title="{{ specimen.eventTime|dot_if_none }}">{{ specimen.eventTime|dot_if_none }}</td>
            <td title="{{ specimen.year|dot_if_none }}">{{ specimen.year|dot_if_none }}</td>
            <td title="{{ specimen.month|dot_if_none }}">{{ specimen.month|dot_if_none }}</td>
            <td title="{{ specimen.day|dot_if_none }}">{{ specimen.day|dot_if_none }}</td>
            <td title="{{ specimen.locality.habitat|dot_if_none }}">{{ specimen.locality.habitat|dot_if_none }}</td>
            <td title="{{ specimen.habitatNotes|dot_if_none }}">{{ specimen.habitatNotes|dot_if_none }}</td>
            <td title="{{ specimen.samplingProtocol|dot_if_none }}">{{ specimen.samplingProtocol|dot_if_none }}</td>
            <td title="{{ specimen.locality.country|dot_if_none }}">{{ specimen.locality.country|dot_if_none }}</td>
            <td title="{{ specimen.locality.region|dot_if_none }}">{{ specimen.locality.region|dot_if_none }}</td>
            <td title="{{ specimen.locality.province|dot_if_none }}">{{ specimen.locality.province|dot_if_none }}</td>
            <td title="{{ specimen.locality.district|dot_if_none }}">{{ specimen.locality.district|dot_if_none }}</td>
            <td title="{{ specimen.locality|dot_if_none }}">{{ specimen.locality|dot_if_none }}</td>
            <td title="{{ specimen.localityDescriptionNotes|dot_if_none }}">{{ specimen.localityDescriptionNotes|dot_if_none }}</td>
            <td title="{{ specimen.minimumElevationInMeters|dot_if_none }}">{{ specimen.minimumElevationInMeters|dot_if_none }}</td>
            <td title="{{ specimen.maximumElevationInMeters|dot_if_none }}">{{ specimen.maximumElevationInMeters|dot_if_none }}</td>
            <td title="{{ specimen.decimalLatitude|dot_if_none }}">{{ specimen.decimalLatitude|dot_if_none }}</td>
            <td title="{{ specimen.decimalLongitude|dot_if_none }}">{{ specimen.decimalLongitude|dot_if_none }}</td>
            <td title="{{ specimen.exact_loc|dot_if_none }}">{{ specimen.exact_loc|dot_if_none }}</td>
            <td title="{{ specimen.coordinateUncertaintyInMeters|dot_if_none }}">{{ specimen.coordinateUncertaintyInMeters|dot_if_none }}</td>
            <td title="{{ specimen.georeferencedBy|dot_if_none }}">{{ specimen.georeferencedBy|dot_if_none }}</td>
            <td title="{{ specimen.georeferencedDate|dot_if_none }}">{{ specimen.georeferencedDate|dot_if_none }}</td>
            <td title="{{ specimen.georeferenceProtocol|dot_if_none }}">{{ specimen.georeferenceProtocol|dot_if_none }}</td>
            <td title="{{ specimen.identifiedBy|dot_if_none }}">{{ specimen.identifiedBy|dot_if_none }}</td>
            <td title="{{ specimen.dateIdentified|dot_if_none }}">{{ specimen.dateIdentified|dot_if_none }}</td>
            <td title="{{ specimen.identificationReferences|dot_if_none }}">{{ specimen.identificationReferences|dot_if_none }}</td>
            <td title="{{ specimen.identificationRemarks|dot_if_none }}">{{ specimen.identificationRemarks|dot_if_none }}</td>
            <td title="{{ specimen.family|dot_if_none }}">{{ specimen.family|dot_if_none }}</td>
            <td title="{{ specimen.subfamily|dot_if_none }}">{{ specimen.subfamily|dot_if_none }}</td>
            <td title="{{ specimen.tribe|dot_if_none }}">{{ specimen.tribe|dot_if_none }}</td>
            <td title="{{ specimen.subtribe|dot_if_none }}">{{ specimen.subtribe|dot_if_none }}</td>
            <td title="{{ specimen.genus|dot_if_none }}">{{ specimen.genus|dot_if_none }}</td>
            <td title="{{ specimen.specificEpithet|dot_if_none }}">{{ specimen.specificEpithet|dot_if_none }}</td>
            <td title="{{ specimen.binomial|dot_if_none }}">{{ specimen.binomial|dot_if_none }}</td>
            <td title="{{ specimen.infraspecificEpithet|dot_if_none }}">{{ specimen.infraspecificEpithet|dot_if_none }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
<div style="text-align: center; color: #666; padding: 10px; font-size: 0.9em;">
    {% trans "Only most recent 20 specimen records shown. Download Full Specimen Report at top of page to view all records." %}
</div>

<div style="margin-top: 2em;">
    <h3>Other Tables</h3>
    <ul>
        <li><a href="{% url 'dynamic_list' 'specimen' %}">Specimen Table</a></li>
        <li><a href="{% url 'dynamic_list' 'locality' %}">Locality Table</a></li>
        <li><a href="{% url 'dynamic_list' 'initials' %}">Initials Table</a></li>
    </ul>
</div>
{% endblock %}
