{# report_table.html - Verbose report table for specimens and related fields #}
{% load butterfly_extras butterfly_display %}
<div style="margin-bottom: 1em; display: flex; align-items: center;">
  <div>
    <h3 style="margin: 0 0 5px 0;">Export Full Report Table</h3>
    <a href="{{ export_csv_url }}" class="btn btn-primary" style="margin-right: 10px;">CSV Format</a>
    <a href="{{ export_excel_url }}" class="btn btn-primary">Excel Format</a>
  </div>
  <div style="margin-left: 20px; color: #666; max-width: 400px;">
    <p style="margin: 0;">These exports include all data shown in the table below, including related fields.</p>
    <p style="margin: 5px 0 0 0;">For individual table management, use the links at the bottom of the page.</p>
  </div>
</div>
<h2>Specimen Report Table</h2>
<table border="1" cellpadding="4" cellspacing="0" style="font-size: 0.95em;">
    <thead>
        <tr>
            <th>modified</th>
            <th>specimenNumber</th>
            <th>catalogNumber</th>
            <th>recordedBy</th>
            <th>sex</th>
            <th>behavior</th>
            <th>disposition</th>
            <th>occurrenceRemarks</th>
            <th>eventDate</th>
            <th>eventTime</th>
            <th>year</th>
            <th>month</th>
            <th>day</th>
            <th>habitat</th>
            <th>habitatNotes</th>
            <th>samplingProtocol</th>
            <th>country</th>
            <th>stateProvince</th>
            <th>county</th>
            <th>municipality</th>
            <th>locality</th>
            <th>localityDescriptionNotes</th>
            <th>minimumElevationInMeters</th>
            <th>maximumElevationInMeters</th>
            <th>decimalLatitude</th>
            <th>decimalLongitude</th>
            <th>exact_loc.?</th>
            <th>coordinateUncertaintyInMeters</th>
            <th>georeferencedBy</th>
            <th>georeferencedDate</th>
            <th>georeferenceProtocol</th>
            <th>identifiedBy</th>
            <th>dateIdentified</th>
            <th>identificationReferences</th>
            <th>identificationRemarks</th>
            <th>family</th>
            <th>subfamily</th>
            <th>tribe</th>
            <th>subtribe</th>
            <th>genus</th>
            <th>specificEpithet</th>
            <th>binomial</th>
            <th>infraspecificEpithet</th>
        </tr>
    </thead>
    <tbody>
    {% for specimen in specimens %}
        <tr>
            <td>{{ specimen.modified|dot_if_none }}</td>
            <td>{{ specimen.specimenNumber|dot_if_none }}</td>
            <td>{{ specimen.catalogNumber|dot_if_none }}</td>
            <td>{{ specimen.recordedBy|dot_if_none }}</td>
            <td>{{ specimen.sex|dot_if_none }}</td>
            <td>{{ specimen.behavior|dot_if_none }}</td>
            <td>{{ specimen.disposition|dot_if_none }}</td>
            <td>{{ specimen.occurrenceRemarks|dot_if_none }}</td>
            <td>{{ specimen.eventDate|dot_if_none }}</td>
            <td>{{ specimen.eventTime|dot_if_none }}</td>
            <td>{{ specimen.year|dot_if_none }}</td>
            <td>{{ specimen.month|dot_if_none }}</td>
            <td>{{ specimen.day|dot_if_none }}</td>
            <td>{{ specimen.locality.habitat|dot_if_none }}</td>
            <td>{{ specimen.habitatNotes|dot_if_none }}</td>
            <td>{{ specimen.samplingProtocol|dot_if_none }}</td>
            <td>{{ specimen.locality.country|dot_if_none }}</td>
            <td>{{ specimen.locality.region|dot_if_none }}</td>
            <td>{{ specimen.locality.province|dot_if_none }}</td>
            <td>{{ specimen.locality.district|dot_if_none }}</td>
            <td>{{ specimen.locality|dot_if_none }}</td>
            <td>{{ specimen.localityDescriptionNotes|dot_if_none }}</td>
            <td>{{ specimen.minimumElevationInMeters|dot_if_none }}</td>
            <td>{{ specimen.maximumElevationInMeters|dot_if_none }}</td>
            <td>{{ specimen.decimalLatitude|dot_if_none }}</td>
            <td>{{ specimen.decimalLongitude|dot_if_none }}</td>
            <td>{{ specimen.exact_loc|dot_if_none }}</td>
            <td>{{ specimen.coordinateUncertaintyInMeters|dot_if_none }}</td>
            <td>{{ specimen.georeferencedBy|dot_if_none }}</td>
            <td>{{ specimen.georeferencedDate|dot_if_none }}</td>
            <td>{{ specimen.georeferenceProtocol|dot_if_none }}</td>
            <td>{{ specimen.identifiedBy|dot_if_none }}</td>
            <td>{{ specimen.dateIdentified|dot_if_none }}</td>
            <td>{{ specimen.identificationReferences|dot_if_none }}</td>
            <td>{{ specimen.identificationRemarks|dot_if_none }}</td>
            <td>{{ specimen.family|dot_if_none }}</td>
            <td>{{ specimen.subfamily|dot_if_none }}</td>
            <td>{{ specimen.tribe|dot_if_none }}</td>
            <td>{{ specimen.subtribe|dot_if_none }}</td>
            <td>{{ specimen.genus|dot_if_none }}</td>
            <td>{{ specimen.specificEpithet|dot_if_none }}</td>
            <td>{{ specimen.binomial|dot_if_none }}</td>
            <td>{{ specimen.infraspecificEpithet|dot_if_none }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

<div style="margin-top: 2em;">
    <h3>Other Tables</h3>
    <ul>
        <li><a href="{% url 'dynamic_list' 'specimen' %}">Specimen Table</a></li>
        <li><a href="{% url 'dynamic_list' 'locality' %}">Locality Table</a></li>
        <li><a href="{% url 'dynamic_list' 'initials' %}">Initials Table</a></li>
    </ul>
</div>
